

.explodingImageContainer {
    position: absolute;
    display: none;
    border: solid 2px var(--borderColor); /* #f5d82c;*/
    
}
.explodingInnerContainer {
    /* border: solid 2px var(--innerBorderColor);  : gold; */
    display: block;
    border: solid 6px lime;
}

.slideshowButton {
    position: relative;
    display: none;
    background-color: #876d6dc7;
    color: #d7d91e;
    font-weight: bold;
    cursor: pointer;
}

.floatingCloseButton {
    position: relative;
    right: 10px;
    display: none;
}