

.explodingImageContainer {
    position: absolute;
    display: none;
    border: solid 2px var(--borderColor); /* #f5d82c;*/
    
}
.explodingInnerContainer {
    border: solid 2px var(--innerBorderColor); /* : gold; */
}


