.carouselImage {
    cursor: pointer;
}

.carouselImageInnerContainer {
    display: inline-block;
    cursor: pointer;
}

.assuranceArrows {
    cursor: pointer;
    width: 50px;
    height: 100%;
}

.categoryTitleLabel {
    position: absolute;
    display: inline-block;
    color: #fff;
    background-color: var(--opaqueImageLabel);
    border-radius: 5px;
    padding: 5px;
    font-size: 15px;
    white-space: nowrap;
    cursor: pointer;
    z-index: 2;
}
.carouselControlsContainer {
    display: flex;
    position: relative;
    left: 33%;
}

.speedButton {
    z-index: 1;
    height: 25px;
    margin: 2px 5px 3px 0px;
    cursor: pointer;
}

.pauseButtonArea {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 23px;
    color: #000;
    font-weight: bold;
    cursor: pointer;
}

.carouselCategoryLabel {
    position: relative;
    cursor: pointer;
    font-size: 17px;
    margin-bottom: 4px;
    color: #b200ff;
}

.carouselFooterStyle {
    display: inline-block;
    border: dashed .5px #f7cc54;
}

/*-- unverified -----------------------------------*/
.animatedGears {
    height: 300px;
}

.imgBottom {
    background-color: #efeacb;
    text-align: center;
}

.randomImageContainer {
    top: 135px;
}

.loadingGif img {
    height: 15px;
}
