

.dialogButton {
    display: inline-block;
    text-align: center;
    background: var(--brucheumBlue);
    color: #000;
    border-radius: 6px;
    padding: 8px 20px;
    cursor: pointer;
    margin-bottom: 4px;
}
.moveCopyDialogImage {
    height: 166px;
}
.fileDetailsDialogImage {
    height: 80px;
}

.fileDialogOuterContainer {
}

.fileDialogTopSection {
    border: solid thin blue;
    display: flex;
}
    .fileDialogTopSection div {
        display: inline-block;
        border: solid thin #00ff21;
        color: #000;
    }
