body {
    background-color: var(--oggleBackgroundColor);
}
.blogPageHeaderTitle {
    margin-top: 8px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}
.blogSection {
    display: none;
    margin-left: 11%;
    margin-right: 11%;
    /* text-align: -webkit-center;*/
}

.blogSectionOuterContainer {
    border: solid thin black;
    /*width: fit-content;
    text-align: left;  */
}
    .blogSectionOuterContainer div {
        /*border: solid thin blue;*/
    }

.blogTopSection {
    display: flex;
    border: solid thin red;
}
    .blogTopSection div {
        display: inline-block;
        vertical-align: top;
        border: solid thin red;
        min-height: 200px;
        min-width: 300px;
    }
.bottomSection div {
    border: solid thin #c226e0;
    min-height: 88px;
}

.blogListEditButton {
    cursor: pointer;
}

.blogListAreaTitle {
    font-weight: bold;
    margin-left: 33px;
}
.blogTypeDDcontainer {
    margin-left: 45px;
}
.blogListRefDropDown {
    font-size: var(--normalFont);
    border-radius: 8px;
}

.blogItemContainer {
    width: 100%;
}

.blogArticleItem {
    display: flex;
    border: solid 0.5px #cbd0c5;
    margin-bottom: 13px;
}

.blogListCommentTitle {
    font-size: 18px;
    color: #477e9d;
    text-align: center;
    font-style: italic;
}
.blogListCommentSummary {
    font-family: 'Times New Roman';
    width: 200px;
}

.blogEditImage {
    height: 200px;
    vertical-align: top;
}

.blogVVEditButton {
    margin-left: 44px;
    vertical-align: bottom;
    cursor: pointer;
    text-decoration: underline;
    color: blue;
}
.articleJogImage {
    height: 88px;
    cursor: pointer;
}

.blogEditSection {
    border: solid thin black;
    border-radius: 5px;
    display: flex;
    background-color: #c9d76e;
}

.xxcrudRow {
    border: solid thin #808080;
    padding: 7px;
    border-radius: 6px;
}

  