
.slideshowHeaderButton {
    height: 26px;
}

.slideShowOuterContainer {
    display: flex;
    width: 100%;
}

.slidingContainer {
    position: absolute;
    display: inline-flex;
}

.slideshowImage {
    object-fit: contain;
    transition: all .75s ease-in-out;
    height: 100%;
    float: left;
}

.slideshowNavgArrow {
    width: 99px;
}

.slideshowHeader {
    display: flex;
}

.slideshowHeaderNavgRow {
    display: inline-block;
    position: absolute;
    right: 544px;
}

/*

.wideCententer {
    display: inline-block;
    width: 100%;
    width: fill-available;
    width: -webkit-fill-available;
    width: -moz-available;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 16px;
    overflow: hidden;
    word-wrap: normal;
    text-align: center;
}
.sldeshowHeaderTextContainer {
    font-size: 12px;
    padding: 9px;
    display: inline-block;
    float: right;
    white-space: nowrap;
}
.slideshowHeaderButtonContainer {
    display: inline-block;
    float: right;
    margin-left: 11px;
    margin-right: 11px;
    white-space: nowrap;
    cursor: pointer;
}


.slideshowButton {
    position: absolute;
    border: solid .5px #ffd800;
    padding: 5px;
    background-color: var(--oggleBackgroundColor);
    color: #feea7a;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    z-index: 21;
}

.slideShowVail {
    display: none; 
    position: fixed;
    z-index: 19; 
    top: 200px;
    width: 80%; /
    height: 80%; 
    overflow: auto;
    background-color: rgba(0,0,0,0.4); 
    border: dashed thin red;
}

.copycatMsg {
    position: absolute;
    font-size: 12px;
    top: 133px;
    right: 222px;
    padding: 9px;
    border-radius: 8px;
    background-color: var(--ogglePurple);
    color: #fff;
    z-index: 25;
    cursor: pointer;
}

.imageViewerHeaderRow {
    background-color: var(--ogglgeHeaderBarColor);
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: stretch;
}

    .imageViewerHeaderRow div {
        display: inline-block;
        background: rgba(148, 133, 143, 0.2);
        border: solid thin black
    }

        .imageViewerHeaderRow div img {
            height: 31px;
            padding: 5px;
        }

.fullF11 {
    text-align: center;
    background-color: #bfbfbf;
}

.fullF11Header {
    background-color: var(--ogglgeHeaderBarColor);
        display: flex;
        flex-direction: row;
        align-items: stretch;
        width: 100%;
}

    .fullF11Header div {
        display: inline-block;
    }

.fullF11HeaderCloseButton {
    float: right;
}

    .fullF11HeaderCloseButton img {
        height: 34px;
        padding-right: 12px;
        cursor: pointer;
    }

.fullF11Title {
    text-align: center;
    font-size: 25px;
}

.explodedImage {
        width: 100%;
        height: 100%;
    cursor: zoom-out;
}

.popoutBox {
    margin-right: 22px;
}

.ssHeaderCount {
    padding-top: 2.5px;
    margin-left: 22px;
}

.imageViewerTitle {
    float: left;
    flex: 1;
    display: inline-block;
    font-size: 22px;
    text-align: center;
}

.slideshowNavgArrows {
    float: left;
}

    .slideshowNavgArrows img {
        width: 50px;
    }

.blowupImage {
    width: 100%;
    height: 100%;
}


.redSides {
    border-left: solid 5px #c05d5d;
    border-right: solid 5px #c05d5d;
}

.fullScreenViewer {
    position: absolute;
    display: none;
    background-color: var(--oggleBackgroundColor);
    z-index: 20;
}

.slideshowLeftWingArrow {
    position: absolute;
    top: 300px;
    left: 20px;
    height: 140px;
}

.slideshowRightWingArrow {
    position: absolute;
    top: 300px;
    right: 20px;
    height: 140px;
}

.hiddenClickArea {
    position: absolute;
    height: 100%;
    width: 50%;
    z-index: 21;
}

#leftClickArea {
    cursor: pointer;
}

#rightClickArea {
    cursor: pointer;
}

.slideshowImageLabel {
    position: absolute;
    bottom: 50px;
    right: 255px;
    color: #fff;
    background-color: var(--opaqueImageLabel);
    border-radius: 5px;
    padding: 5px;
    font-size: 20px;
    white-space: nowrap;
    cursor: pointer;
    z-index: 200;
}

.attrBox {
    position: absolute;
    border: solid thin black;
    display: none;
}
*/
